h1  {
    margin-bottom: 50px; 
    text-align: center; 
}
body {
    margin: 0;
    padding-top: 50px; 
    font-family:Arial, Helvetica, sans-serif;
    background-color:antiquewhite; 
}
.card { 
    background-color:rgb(175, 159, 139);
    font-size: 40px;
    padding: 80px; 
    border-radius: 30px; 
    box-shadow: 0 7px 12px rgba(0,0,0,0.1);
    text-align: center;
    width: 500px; 
    margin: 0 auto;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
button  {
    padding: 25px;
    color: white;
    border: none;
    border-radius: 10px;
    background-color:rgb(86, 71, 71); 
    text-align: center;
    font-size: 30px;
    cursor: pointer; 
}
.buttons    { 
    margin-top:80px;
    display:flex ; 
    justify-content: space-between;
    position:relative;
    z-index: 1;
    transition: all 0.3s ease;
}
button:hover    { 
    transform: scale(1.05);
    box-shadow: 0 8px 16px black;
    z-index: 10;
}

